#body {
  background-color: white;
}

#demo {
  color: dodgerblue;
}

#color {
  color: slateblue;
}

#img {
  width: 200px;
  height: 150px;
}

#hideaway {
  display: none;
}

#myBtn {
  font-family: courier;
}

h1 {
  color: teal;
  text-align: center;
}

h2 {
  color: red;
  text-align: center;
}

h3 {
  text-align: justify;
  color: green;
}